<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css"/>
    <link href="/h-ui.admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
    <script>
        $(function () {
            alert("请重新登录");
            top.location.href="login";
        })
    </script>
</body>
</html>